.box {
    width: 100px;
    height: 100px;
    border: solid 2px blue;
    background-color: lightblue;
    color: white;
    text-align: center;
    /* 
    - block: it dosen't move, but you can put w/h
    - inline: it doesn't respect the width and height
    - inline-block: allows to use width and height */
    display: inline-block;

}


/* classwork.html */

body{
    font-family: 'Montserrat', sans-serif;
    background-color:rgb(245, 245, 245);
}
.card {
    width: 300px;
    height: 600px;
    background-color:white;
    border-radius: 15px;
    box-shadow: 4px 4px 20px gainsboro ;
}

.price h2,p {
    display: inline-block;
}

.price h2 {
    margin-left: 20px;
}

.description {
    margin-left: 20px;
}

.description h2 {
    color: #FFC847;
}

.description p {
    width: 250px;
    border-bottom: 1px solid lightgray;
}

/* layer, speaker,network */
.card img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}


/* check */
.item img {
    width: 15px;
    height: 15px;
}

button {
    margin-left: 20px;
    width: 250px;
    padding: 8px;
    background-color: lightgrey;
    border-radius: 8px;
    border: none;
}
